# export以下环境变量到.zshrc(macOS)或.bashrc(Linux)，并替换为你自己的key
ANTHROPIC_API_KEY=sk-ant-api03-your-key-here
ANTHROPIC_BASE_URL=https://api.aicodemirror.com/api/claudecode/v1
STITCH_GOOGLE_API_KEY=your-google-api-key
CONTEXT7_API_KEY=ctx7sk-your-key-here
GITEE_ACCESS_TOKEN=your-gitee-token
